<a href="https://colab.research.google.com/github/sanjibsinha/Machine-Learning-Primer/blob/inter/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/sanjibsinha/Machine-Learning-Primer/main/Mental%20health%20Depression%20disorder%20Data.csv')
df.head(10)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220
8,8,Afghanistan,AFG,1998,0.160931,0.699372,0.08733,4.826971,1.756963,4.114438,0.664676
9,9,Afghanistan,AFG,1999,0.161311,0.699674,0.086267,4.826413,1.770791,4.117633,0.663428

In [4]:
df.columns

Index(['index', 'Entity', 'Code', 'Year', 'Schizophrenia (%)',
       'Bipolar disorder (%)', 'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')

In [5]:
df.shape

(108553, 11)

In [6]:
df.size

1194083

In [11]:
df.sort_values(['Schizophrenia (%)'], ascending=False).head(10)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
54276,54276,Entity,Code,Year,"Suicide rate (deaths per 100,000 individuals)",Depressive disorder rates (number suffering pe...,Population,NaN,NaN,NaN,NaN
6468,6468,Entity,Code,Year,Prevalence in males (%),Prevalence in females (%),Population,NaN,NaN,NaN,NaN
102084,102084,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both ...,NaN,NaN,NaN,NaN,NaN,NaN
106635,106635,Poland,POL,2004,999912.19192,NaN,NaN,NaN,NaN,NaN,NaN
103799,103799,Eastern Europe,NaN,1996,9997629.91625,NaN,NaN,NaN,NaN,NaN,NaN
104729,104729,Iceland,ISL,2002,9993.397778,NaN,NaN,NaN,NaN,NaN,NaN
106632,106632,Poland,POL,2001,999270.327333,NaN,NaN,NaN,NaN,NaN,NaN
103126,103126,Central African Republic,CAF,1995,99880.391024,NaN,NaN,NaN,NaN,NaN,NaN
102373,102373,Australasia,NaN,1998,998721.432053,NaN,NaN,NaN,NaN,NaN,NaN
102503,102503,Bahamas,BHS,2016,9983.573075,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.sort_values(['Schizophrenia (%)'], ascending=True).head(10)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
3866,3866,Mozambique,MOZ,1992,0.146902,0.603562,0.076041,3.591123,0.488752,3.767717,1.594383
3867,3867,Mozambique,MOZ,1993,0.146907,0.603639,0.075732,3.596212,0.490872,3.772736,1.597536
3865,3865,Mozambique,MOZ,1991,0.146938,0.603488,0.076403,3.585056,0.485753,3.761645,1.590888
3868,3868,Mozambique,MOZ,1994,0.146949,0.603732,0.075595,3.600203,0.493057,3.779678,1.600279
3869,3869,Mozambique,MOZ,1995,0.147017,0.603832,0.075706,3.602771,0.494475,3.784766,1.602543
3864,3864,Mozambique,MOZ,1990,0.147025,0.603425,0.076957,3.578330,0.482879,3.755153,1.587054
3870,3870,Mozambique,MOZ,1996,0.14717,0.603958,0.076281,3.604117,0.495274,3.794130,1.604387
3871,3871,Mozambique,MOZ,1997,0.14744,0.604105,0.077078,3.604568,0.496981,3.802496,1.606247
3872,3872,Mozambique,MOZ,1998,0.147783,0.604251,0.078349,3.604327,0.498040,3.810355,1.608611
3873,3873,Mozambique,MOZ,1999,0.148157,0.604399,0.079861,3.603979,0.498901,3.818766,1.611715

In [13]:
df.sort_values(['Anxiety disorders (%)']).head(10)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
6259,6259,Vietnam,VNM,2005,0.235363,0.546672,0.103511,2.023393,0.649577,2.923107,1.558684
6260,6260,Vietnam,VNM,2006,0.236038,0.547208,0.105386,2.023866,0.652337,2.918925,1.576124
6258,6258,Vietnam,VNM,2004,0.234611,0.545941,0.101796,2.024291,0.648217,2.924382,1.552511
6261,6261,Vietnam,VNM,2007,0.236773,0.547716,0.107265,2.024573,0.655125,2.912970,1.609350
6262,6262,Vietnam,VNM,2008,0.237512,0.548168,0.109161,2.025459,0.657372,2.907162,1.648056
6263,6263,Vietnam,VNM,2009,0.238224,0.548607,0.111049,2.026705,0.660234,2.901149,1.682082
6257,6257,Vietnam,VNM,2003,0.233698,0.545031,0.100451,2.027715,0.646827,2.926208,1.546416
6264,6264,Vietnam,VNM,2010,0.238863,0.549044,0.113015,2.028608,0.663104,2.896072,1.701023
6265,6265,Vietnam,VNM,2011,0.239504,0.549497,0.115109,2.031183,0.666203,2.891420,1.708863
6256,6256,Vietnam,VNM,2002,0.232741,0.544103,0.098532,2.032028,0.644563,2.927853,1.540911