<a href="https://colab.research.google.com/github/sanjibsinha/Machine-Learning-Primer/blob/inter/pd_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/sanjibsinha/Machine-Learning-Primer/main/world_internet_user.csv', encoding = 'unicode_escape', engine ='python')
df.head()

          Country   Region  Population  Internet Users  % of Population
0          _World      NaN  7920539977      5424080321            68.48
1      Afganistan     Asia    40403518         9237489            22.86
2         Albania   Europe     2872758         2191467            76.28
3         Algeria   Africa    45150879        37836425            83.80
4  American Samoa  Oceania       54995           34800            63.28

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df = df[1:]
df

             Country       Region  Population  Internet Users  % of Population
1         Afganistan         Asia    40403518         9237489            22.86
2            Albania       Europe     2872758         2191467            76.28
3            Algeria       Africa    45150879        37836425            83.80
4     American Samoa      Oceania       54995           34800            63.28
5            Andorra       Europe       77465           73101            94.37
..               ...          ...         ...             ...              ...
238  Wallis & Futuna      Oceania       10932            6200            56.71
239   Western Sahara       Africa      611875           28000             4.58
240            Yemen  Middle East    30938435         8353377            27.00
241           Zambia       Africa    18920651         9870427            52.17
242         Zimbabwe       Africa    15092171         8400000            55.66

[242 rows x 5 columns]

In [ ]:
df['Country'] # series / rows name of dataframe

1           Afganistan
2              Albania
3              Algeria
4       American Samoa
5              Andorra
            ...
238    Wallis & Futuna
239     Western Sahara
240              Yemen
241             Zambia
242           Zimbabwe
Name: Country, Length: 242, dtype: object

In [ ]:
#df['% of Population'].mean()

In [ ]:
#df['% of Population'].std()

In [ ]:
df['Country And Continent'] = df['Country'] + ', ' + df['Region']
df['Country And Continent']

1              Afganistan, Asia
2               Albania, Europe
3               Algeria, Africa
4       American Samoa, Oceania
5               Andorra, Europe
                 ...
238    Wallis & Futuna, Oceania
239      Western Sahara, Africa
240          Yemen, Middle East
241              Zambia, Africa
242            Zimbabwe, Africa
Name: Country And Continent, Length: 242, dtype: object

In [ ]:
df.tail()

,Country,Region,Population,Internet Users,% of Population,Country Percentage,Country And Continent
238,Wallis & Futuna,Oceania,10932,6200,56.71,"Wallis & Futuna, Oceania","Wallis & Futuna, Oceania"
239,Western Sahara,Africa,611875,28000,4.58,"Western Sahara, Africa","Western Sahara, Africa"
240,Yemen,Middle East,30938435,8353377,27.00,"Yemen, Middle East","Yemen, Middle East"
241,Zambia,Africa,18920651,9870427,52.17,"Zambia, Africa","Zambia, Africa"
242,Zimbabwe,Africa,15092171,8400000,55.66,"Zimbabwe, Africa","Zimbabwe, Africa"

In [ ]:
df = df.drop('Country Percentage', axis=1)

In [ ]:
df.tail()

,Country,Region,Population,Internet Users,% of Population,Country And Continent
238,Wallis & Futuna,Oceania,10932,6200,56.71,"Wallis & Futuna, Oceania"
239,Western Sahara,Africa,611875,28000,4.58,"Western Sahara, Africa"
240,Yemen,Middle East,30938435,8353377,27.00,"Yemen, Middle East"
241,Zambia,Africa,18920651,9870427,52.17,"Zambia, Africa"
242,Zimbabwe,Africa,15092171,8400000,55.66,"Zimbabwe, Africa"

In [ ]:
df.describe()

         Population  Internet Users  % of Population
count  2.420000e+02    2.420000e+02       242.000000
mean   3.272950e+07    2.241356e+07        69.927066
std    1.348221e+08    8.995328e+07        27.483660
min    5.960000e+02    4.140000e+02         0.080000
25%    3.257340e+05    1.930792e+05        52.180000
50%    5.279970e+06    2.846423e+06        77.970000
75%    1.958173e+07    9.840202e+06        91.020000
max    1.448314e+09    1.010740e+09       120.700000

In [5]:
df.describe(include='object')

       Country  Region
count      243     242
unique     243       6
top     _World  Africa
freq         1      58

In [6]:
df.columns = df.columns.str.replace(' ', '-')
df.columns

Index(['Country', 'Region', 'Population', 'Internet-Users', '%-of-Population'], dtype='object')

In [9]:
df.Population

0      7920539977
1        40403518
2         2872758
3        45150879
4           54995
          ...
238         10932
239        611875
240      30938435
241      18920651
242      15092171
Name: Population, Length: 243, dtype: int64

In [13]:
df.columns

Index(['Country', 'Region', 'Population', 'Internet-Users', '%-of-Population'], dtype='object')

In [15]:
df.Population.sort_values().head()

46      596
235     804
218    1385
159    1644
160    1748
Name: Population, dtype: int64

In [19]:
df.Population.sort_values(ascending=False)

0      7920539977
44     1448314408
99     1402228175
230     335226482
100     278268685
          ...
160          1748
159          1644
218          1385
235           804
46            596
Name: Population, Length: 243, dtype: int64

In [20]:
df.Population.sort_values(ascending=True)

46            596
235           804
218          1385
159          1644
160          1748
          ...
100     278268685
230     335226482
99     1402228175
44     1448314408
0      7920539977
Name: Population, Length: 243, dtype: int64

In [21]:
df.sort_values(['%-of-Population', 'Population']) # ascending=True

,Country,Region,Population,Internet-Users,%-of-Population
113,"Korea, North",Asia,25961763,20000,0.08
239,Western Sahara,Africa,611875,28000,4.58
67,Eritrea,Africa,3626986,248199,6.84
198,South Sudan,Africa,11381378,900716,7.91
128,Madagascar,Africa,28427328,2864000,10.07
...,...,...,...,...,...
57,Cyprus,Europe,1221767,1320400,108.07
40,Cayman Islands,America,66990,73800,110.17
175,Puerto Rico,America,2747603,3047311,110.91
32,Brunei Darussulam,Asia,444336,531800,119.68
228,United Arab Emirates,Middle East,10088517,12176400,120.70

In [23]:
df.sort_values(['Population'])

                 Country   Region  Population  Internet-Users  %-of-Population
46   Cocos (Keeling) Is.  Oceania         596             414            69.46
235   Vatican City State   Europe         804             583            72.51
218              Tokelau  Oceania        1385             800            57.76
159                 Niue  Oceania        1644            1485            90.33
160       Norfolk Island  Oceania        1748             800            45.77
..                   ...      ...         ...             ...              ...
100            Indonesia     Asia   278268685       212354070            76.31
230        United States  America   335226482       312320000            93.17
99                 India     Asia  1402228175       833710000            59.46
44                 China     Asia  1448314408      1010740000            69.79
0                 _World      NaN  7920539977      5424080321            68.48

[243 rows x 5 columns]