<a href="https://colab.research.google.com/github/sanjibsinha/Machine-Learning-Primer/blob/inter/pd_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/sanjibsinha/Machine-Learning-Primer/main/world_internet_user.csv', encoding = 'unicode_escape', engine ='python')
df.head()

          Country   Region  Population  Internet Users  % of Population
0          _World      NaN  7920539977      5424080321            68.48
1      Afganistan     Asia    40403518         9237489            22.86
2         Albania   Europe     2872758         2191467            76.28
3         Algeria   Africa    45150879        37836425            83.80
4  American Samoa  Oceania       54995           34800            63.28

In [7]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df = df[1:]
df

             Country       Region  Population  Internet Users  % of Population
1         Afganistan         Asia    40403518         9237489            22.86
2            Albania       Europe     2872758         2191467            76.28
3            Algeria       Africa    45150879        37836425            83.80
4     American Samoa      Oceania       54995           34800            63.28
5            Andorra       Europe       77465           73101            94.37
..               ...          ...         ...             ...              ...
238  Wallis & Futuna      Oceania       10932            6200            56.71
239   Western Sahara       Africa      611875           28000             4.58
240            Yemen  Middle East    30938435         8353377            27.00
241           Zambia       Africa    18920651         9870427            52.17
242         Zimbabwe       Africa    15092171         8400000            55.66

[242 rows x 5 columns]

In [12]:
df['Country'] # series / rows name of dataframe

1           Afganistan
2              Albania
3              Algeria
4       American Samoa
5              Andorra
            ...
238    Wallis & Futuna
239     Western Sahara
240              Yemen
241             Zambia
242           Zimbabwe
Name: Country, Length: 242, dtype: object